<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.crm.Contact.CreateContactTest"/>
     <!-- <class name="organization.CreateOrganizationAndVerifyTest1"/>
      <class name="com.crm.Contact.EditeContactAndVerifyTest"/>
      <class name="com.crm.Contact.ViewContact17Test"/>
      <class name="organization.CreateOrganizationAndVerifyTest"/>
      <class name="com.crm.Contact.ViewContactTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

